name: sSocks
on: [ push ]
jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install LLVM
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 19
          sudo apt install -y libc++abi-19-dev libc++-19-dev
      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        env:
          VCPKG_BINARY_SOURCES: default,rw
      - name: Setup vcpkg binary cache
        uses: actions/cache@v4
        with:
          path: ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
          key: ${{ runner.os }}-vcpkg-binary-cache-${{ hashFiles('vcpkg*.json') }}
          restore-keys: |
            ${{ runner.os }}-vcpkg-binary-cache-
      - name: Build
        uses: lukka/run-cmake@v10
        with:
          workflowPreset: debug
        env:
          CC: clang-19
          CXX: clang++-19
          CXXFLAGS: -stdlib=libc++

  linux-static:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install musl toolchains
        run: curl -fsSL https://github.com/Hackerl/musl-cross-make/releases/download/gcc-15.2.0/x86_64-linux-musl-native-gcc15.2.0.tar.gz | tar -xz -C /opt
      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        env:
          VCPKG_BINARY_SOURCES: default,rw
      - name: Setup vcpkg binary cache
        uses: actions/cache@v4
        with:
          path: ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
          key: ${{ runner.os }}-vcpkg-binary-cache-${{ hashFiles('vcpkg*.json') }}
          restore-keys: |
            ${{ runner.os }}-vcpkg-binary-cache-
      - name: Build
        uses: lukka/run-cmake@v10
        with:
          configurePreset: debug
          configurePresetAdditionalArgs: "['-DCMAKE_EXE_LINKER_FLAGS=-static-pie']"
          buildPreset: debug
        env:
          CC: /opt/x86_64-linux-musl-native-gcc15.2.0/bin/x86_64-linux-musl-gcc
          CXX: /opt/x86_64-linux-musl-native-gcc15.2.0/bin/x86_64-linux-musl-g++

  windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        env:
          VCPKG_BINARY_SOURCES: default,rw
      - name: Setup vcpkg binary cache
        uses: actions/cache@v4
        with:
          path: ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
          key: ${{ runner.os }}-vcpkg-binary-cache-${{ hashFiles('vcpkg*.json') }}
          restore-keys: |
            ${{ runner.os }}-vcpkg-binary-cache-
      - name: Build
        uses: lukka/run-cmake@v10
        with:
          workflowPreset: debug

  windows-32:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        env:
          VCPKG_BINARY_SOURCES: default,rw
      - name: Setup vcpkg binary cache
        uses: actions/cache@v4
        with:
          path: ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
          key: ${{ runner.os }}-vcpkg-binary-cache-${{ hashFiles('vcpkg*.json') }}
          restore-keys: |
            ${{ runner.os }}-vcpkg-binary-cache-
      - name: Build
        uses: lukka/run-cmake@v10
        with:
          configurePreset: debug
          configurePresetAdditionalArgs: "['-A Win32']"
        env:
          VCPKG_DEFAULT_TRIPLET: x86-windows

  macos:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install LLVM
        run: |
          brew install llvm@19
          echo "LLVM_HOME=$(brew --prefix llvm@19)" >> $GITHUB_ENV
      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        env:
          VCPKG_BINARY_SOURCES: default,rw
      - name: Setup vcpkg binary cache
        uses: actions/cache@v4
        with:
          path: ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
          key: ${{ runner.os }}-vcpkg-binary-cache-${{ hashFiles('vcpkg*.json') }}
          restore-keys: |
            ${{ runner.os }}-vcpkg-binary-cache-
      - name: Build
        uses: lukka/run-cmake@v10
        with:
          workflowPreset: debug
        env:
          CC: ${{ env.LLVM_HOME }}/bin/clang
          CXX: ${{ env.LLVM_HOME }}/bin/clang++
          LDFLAGS: -L${{ env.LLVM_HOME }}/lib/c++ -L${{ env.LLVM_HOME }}/lib -L${{ env.LLVM_HOME }}/lib/unwind -lunwind -Wl,-rpath,${{ env.LLVM_HOME }}/lib/c++ -Wl,-rpath,${{ env.LLVM_HOME }}/lib -Wl,-rpath,${{ env.LLVM_HOME }}/lib/unwind
          SDKROOT: macosx
